@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Domingos Salerno Cassano, 79<br />
    Saltinho, SP 13442-024<br />
    <abbr title="Phone">P:</abbr>
    19 997546227
</address>

<address>
    <a href="https://linktr.ee/furlanvlr" target="_blank">Linktree</a>
</address> 